<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477601365162-jj71jm9mnk17caerlitha8fk02h412nh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477601365162-jj71jm9mnk17caerlitha8fk02h412nh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>477601365162-9kvgi5nb0lscvajetvp0sn4ude6kdot2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCg4PzamdW-kLSwSMyIrXqLBv4JsD0P9qU</string>
	<key>GCM_SENDER_ID</key>
	<string>477601365162</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appfactory.momapp</string>
	<key>PROJECT_ID</key>
	<string>momapp-wellbeing</string>
	<key>STORAGE_BUCKET</key>
	<string>momapp-wellbeing.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477601365162:ios:b05882c3a8b5d2531164d3</string>
</dict>
</plist>